/* app css stylesheet */

.footer {
	margin-top: 20px;
	color: #888;
	border-top: 1px solid #888;
	padding-top: 10px;
}

img.gravatar {
	height: 40px;
	width: 40px;
	margin-right: 10px;
}


.panel-heading p {
	margin: 0px 10px 0px 10px;
}
