<div class="row">
  <div class="col-md-12">
    <h3>{{thread.title}}</h3>
    <p>{{thread.author.username}} created this thread on {{thread.created | date:'MMM d, HH:mm'}}</p>
    <hr/>
    <div class="panel panel-default" ng-repeat="message in messages">
      <div class="panel-heading clearfix">
        <img ng-src="{{message.author.gravatar_url}}" class="img-rounded gravatar pull-left">
        <p>
          {{message.author.username}} commented<br/>
          on {{message.created | date:'MMM d, HH:mm'}}
        </p>
      </div>
      <div class="panel-body">
        <p>{{message.text}}</p>
      </div>
    </div>
  </div>
</div>
