<div class="row">
  <div class="col-md-12">
    <div class="thread-list bootcards-list" ng-if="threads.length > 0">
      <div class="panel panel-default">
        <div class="list-group">
          <a class="list-group-item" href="#/threads/{{thread.id}}" ng-repeat="thread in threads | orderBy:'-created'">
            <div class="row">
              <div class="col-sm-8 col-xs-6">
                <h4 class="list-group-item-heading">{{thread.title}}</h4>
                <p class="list-group-item-text">Created on {{thread.created | date:'MMM d, HH:mm'}}</p>
              </div>
              <div class="col-sm-4 col-xs-6">
                <img ng-src="{{thread.author.gravatar_url}}" class="img-rounded pull-left" />
                <p class="list-group-item-text">Created by</p>
                <p class="list-group-item-heading">{{thread.author.username}}</p>
              </div>
            </div>
          </a>
          <a class="list-group-item" href="#/threads/create">
              <i class="fa fa-plus"></i>
              New Thread
          </a>
        </div>
      </div>

<div class="row">
  <div class="col-md-12">
    <a class="btn btn-default pull-left" href="#{{prev}}" ng-if="prev !== null">
      <i class="fa fa-angle-double-left"></i>
      Previous
    </a>

    <a class="btn btn-default pull-right" href="#{{next}}" ng-if="next !== null">
      <i class="fa fa-angle-double-right"></i>
      Next
    </a>
  </div>
</div>
