<div class="row">
  <div class="col-md-12">
    <p><a href="#/threads">Back to all threads</a></p>
    <h3>{{thread.title}}</h3>
    <p>{{thread.author.username}} created this thread on {{thread.created | date:'MMM d, HH:mm'}}</p>
    <hr/>
    <div class="panel panel-default" ng-repeat="message in messages">
      <div class="panel-heading clearfix">
        <img ng-src="{{message.author.gravatar_url}}" class="img-rounded gravatar pull-left"></img>
        <p>
          {{message.author.username}} commented<br/>
          on {{message.created | date:'MMM d, HH:mm'}}
        </p>
      </div>
      <div class="panel-body">
        <p>{{message.text}}</p>
      </div>
    </div>
    
    <div class="panel panel-default" ng-if="loggedIn">
      <div class="panel-heading clearfix">
        <div class="panel-heading-content">
          <h3 class="panel-title pull-left">Post new Message</h3>
          <p class="pull-right">
            <em>{{username}}</em><br/>
            <a href="#" ng-click="logout()">Logout</a>
          </p>
        </div>
      </div>
      <div class="panel-body">
        <form class="form-horizontal">
          <div class="form-group">
            <div class="col-xs-12">
              <textarea class="form-control" rows="5" ng-model="newMessage.text"></textarea>
            </div>
          </div>
        </form>
        <button class="btn col-xs-12" ng-click="postMessage()">
          <i class="fa fa-message"></i>
          Submit
        </button>
      </div>
    </div>

    <div class="panel panel-default" ng-if="!loggedIn">
      <div class="panel-heading clearfix">
        <div class="panel-heading-content">
          <h3 class="panel-title pull-left">Post new Message</h3>
        </div>
      </div>
      <div class="panel-body">
        <p>
          <a href="#/login">Log in</a> to post
        </p>
      </div>
    </div>

  </div>
</div>
